<p>
    <a href="{{ owner.html_url }}" >{{ owner.login }}</a> / <a href="{{ url }}" >{{ id }}</a> 
    <img src="{{ owner.avatar_url }}" style="float: right; height: 32px; width: auto; border-radius: 50%;">
</p>
<hr>