@import url("@/public/bolt.min.css") all;
@import url("highlight.js/styles/atom-one-dark.css") (prefers-color-scheme: dark);
@import url("highlight.js/styles/atom-one-light.css") (prefers-color-scheme: light);

:root {
    --links: var(--text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-body: #120c0e;
        --text: #d9d8dc;
    }
}

body {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
    word-wrap: break-word;
}

pre {
    border: none;
    padding: 0px;
}

code, pre {
    max-width: 100%;
}

.hljs {
    background: var(--background-main);
}

.profile-picture {
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-left: auto;
}

.header {
    margin-bottom: 20px;
}

.posts {
    margin: 20px auto;
}

.post-list {
    list-style-type: none;
    padding: 0;
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.user-info {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
}